<!--<div class="page-header header-filter" data-parallax="true" style=" background-image: url('assets/img/examples/profile_city.jpg'); ">-->
<div id="produtosHeader" class="page-header header-filter" data-parallax="true" style=" background-image: url('_imagens/produtos.jpg'); ">
  <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1 id="header" class="title">Produtos</h1>
        </div>
      </div>
  </div>
</div>

<!--<div class="container" style=" background-image: url('_imagens/icone/capsulas.png'); ">
  <div id="produtos" class="col-md-6">
    <h1 class="title">Produtos</h1>
  </div>
</div>-->

<div class="main main-raised">
  <div id="produtosContainer" class="container">
      <div class="section text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                  
                    <!--<h2 class="title">Produtos em Destaque</h2>
                    <h5 class="description">A empresa oferece excelência em sua linha de produtos, que passam por um rigoroso controle de qualidade, obtendo a certificação da ANVISA e sempre se atualizando com as exigências de todos os demais órgãos reguladores.</h5>-->
                </div>
            </div>

            <div class="features">
              <!-- ROW 1 -->
              <div class="row">

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/vit_k2.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid" data-toggle="modal" data-target="#myModal" readonly="true"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/zinco_c.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/sulfato_ferro.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/suplemento_selenio.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

              </div>

              <!-- ROW 2 -->
              <div class="row">

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/polivitaminico_gestante.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_linhaca_peixe_cartamo.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/guarana_vit_mineirais.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/groselha_negra.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

              </div>

              <!-- ROW 3 -->
              <div class="row">

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/cranberry.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/bcaa.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/blueberry.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/colageno_vit_minerais.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

              </div>

              <!-- ROW 4 -->
              <div class="row">

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/fitoesterol.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/calcio_quelato.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/suplemento_creatina.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/suplemento_cromo.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

              </div>

              <!-- ROW 5 -->
              <div class="row">

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/suplemento_folico.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/magnesio_quelato.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/betacaroteno_cenoura.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/complexoB.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

              </div>

              <!-- ROW 6 -->
              <div class="row">

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/guarana_acai.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/lecitina_soja.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/licopeno_tomate.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_abacate.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

              </div>

              <!-- ROW 7 -->
              <div class="row">

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_alho.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_arroz.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_borragem.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_chia.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

              </div>

              <!-- ROW 8 -->
              <div class="row">

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_coco.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_guarana.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_cromo.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_vitE.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

              </div>

              <!-- ROW 9 -->
              <div class="row">

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/castanha_para.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_de_chia.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_de_coco.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_trigo.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

              </div>

              <!-- ROW 10 -->
              <div class="row">

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_girassol.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/linhaca_primula_vitE.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_linhaca.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_oliva.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

              </div>

              <!-- ROW 11 -->
              <div class="row">

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_peixe_linhaca.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_peixe.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_primula.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/oleo_uva.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

              </div>

              <!-- ROW 12 -->
              <div class="row">

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/polivitaminico_omega3.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/polivitaminico_feminino.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/polivitaminico.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/suplemento_cafeina.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

              </div>

              <!-- ROW 13 -->
              <div class="row">

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/suplemento_calcio.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/suplemento_calcio_magnesio.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/figado_bacalhau.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/vitaminaD.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

              </div>

              <!-- ROW 14 -->
              <div class="row">

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/vitaminaE.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

                <div id="produtos" class="col-md-4">
                  <div class="info">
                    <a href="#"><img id="produtosD" src="_imagens/produtos/suplemento_zinco.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                  </div>
                </div>

              </div>


            </div>
        </div>

        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Informações</h4>
              </div>
              <div class="modal-body">
                <p>Which how many people would you like to talk?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="">OK</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
