<!--<div class="page-header header-filter" data-parallax="true" style=" background-image: url('assets/img/examples/profile_city.jpg'); ">-->
<header>
  <div id="main" class="page-header header-filter" data-parallax="true" style=" background-image: url('_imagens/sorocaps.jpg'); ">
    <div class="container">
        <div class="row">
      <div class="col-md-6">
        <h1 id="header" class="title">Nossa História Começa Com você.</h1>
                <h4 id="main">A Sorocaps Indústria Farmacêutica Ltda. Empresa 100% Brasileira que fabrica, desenvolve e comercializa cápsulas gelatinosas no seguimento nutri-alimentar. Com sede própria de 4.000m² de área construída com área total de 10.000m² na cidade de Sorocaba, atua também na prestação de serviços de envase para terceiros.</h4>
                <br>
                <a href="https://www.youtube.com/watch?v=VHAC1h0CDMQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i> Watch video
        </a>
      </div>
        </div>
    </div>
  </div>
</header>

<div class="main main-raised">
  <div class="container">
      <div class="section text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title">Produtos em Destaque</h2>
                    <h5 class="description">A empresa oferece excelência em sua linha de produtos, que passam por um rigoroso controle de qualidade, obtendo a certificação da ANVISA e sempre se atualizando com as exigências de todos os demais órgãos reguladores.</h5>
                </div>
            </div>

            <div class="features">
              <div class="row">

                <div class="col-md-4">
                  <div class="info">
                    <div class="col-md-8 ml-auto mr-auto">
                      <a><img id="produtosD" src="_imagens/produtos/vit_k2.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid" data-toggle="modal" data-target="#myModal"></a>
                    </div>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                    <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="info">
                    <div class="col-md-8 ml-auto mr-auto">
                      <a><img id="produtosD" src="_imagens/produtos/zinco_c.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid" data-toggle="modal" data-target="#myModal"></a>
                    </div>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                    <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="info">
                    <div class="col-md-8 ml-auto mr-auto">
                      <a href="#"><img id="produtosD" src="_imagens/produtos/sulfato_ferro.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
                    </div>
                    <!--<h4 class="info-title">Free Chat</h4>-->
                    <br>
                    <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>


    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link">Nice Button</button>
                <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--  End Modal -->
