h4#main{
  text-align  : justify;
}

img#produtosD:hover{
  box-shadow      : 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color           : #444;
  text-decoration : none;
}

img#logo{
  margin-top: -8px;
  width     : 50px;
  height    : 45px;
}

header{
  font-family: tahoma;
  background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(../_imagens/sorocaps.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: static;
}

h1#header{
  margin-top: -5%;
}

div#produtosHeader{
  height: 350px;
}

div#produtosContainer{
  margin-left: 2.5%;
}

div#produtos{
  margin-right: -100px;
}

div#gestaoQHeader{
  height: 350px;
}

div#left {
    display : block;
    width   : 400px;
    float   : left;
}

div#right {
    display : block;
    width   : 600px;
    float   : right;
}

div#section-left{
  margin-top  : 3%;
  margin-left : 2%;
  margin-right: 9%;
}

div#section-right{
  width: 60%;
}

h5#h5Gestao{
  text-align: justify;
}

img#gestaoQ{
  width         : 300px;
  height        : 250px;
  margin-bottom : 12%;
  box-shadow    : 0 14px 28px rgba(0, 0, 0, 0.25), 10px 10px 10px rgba(0, 0, 0, 0.22);
}

img#quemS{
  width         : 320px;
  height        : 280px;
  margin-bottom : 35%;
  box-shadow    : 0 14px 28px rgba(0, 0, 0, 0.25), 10px 10px 10px rgba(0, 0, 0, 0.22);
}

div#section-left-contato{
  margin-top  : 3%;
  margin-left : 2%;
  margin-right: 9%;
  width: 40%;
}

div#section-right-contato{
  width: 40%;
}

.dialogdemoThemeInheritance .container {
  text-align: center;
}
