<div  class="container">
  <div id="topics" class="xop-section">
  	<ul class="xop-grid">
  		<li>
  			<div class="xop-box xop-img-1">
  				<a href="#!/topics/subjectoptions/{{vm.topicsT[0]}}">
  				<div class="xop-info">
  					<h3>&nbsp;{{vm.topicsT[0]}}</h3>
  				</div></a>
  			</div>
  		</li>
  		<li>
  			<div class="xop-box xop-img-2">
  				<a href="#!/topics/subjectoptions/{{vm.topicsT[2]}}">
  				<div class="xop-info">
  					<h3>&nbsp;{{vm.topicsT[2]}}</h3>
  				</div></a>
  			</div>
  		</li>
  		<li>
  			<div class="xop-box xop-img-3">
  				<a href="#!/topics/subjectoptions/{{vm.topicsT[1]}}">
  				<div class="xop-info">
  					<h3>&nbsp;{{vm.topicsT[1]}}</h3>
  					<p></p>
  				</div></a>
  			</div>
  		</li>
  		<li>
  			<div class="xop-box xop-img-4">
  				<a href="#!/topics/subjectoptions/{{vm.topicsT[5]}}">
  				<div class="xop-info">
  					<h3>&nbsp;{{vm.topicsT[5]}}</h3>
  					</div></a>
  			</div>
  		</li>
      <li>
  			<div class="xop-box xop-img-5">
  				<a href="#!/topics/subjectoptions/{{vm.topicsT[3]}}">
  				<div class="xop-info">
  					<h3>&nbsp;{{vm.topicsT[3]}}</h3>
  					</div></a>
  			</div>
  		</li>
  		<li>
  			<div class="xop-box xop-img-6">
  				<a href="#!/topics/subjectoptions/{{vm.topicsT[4]}}">
  				<div class="xop-info">
  					<h3>&nbsp;{{vm.topicsT[4]}}</h3>
  					</div></a>
  			</div>
  		</li>
  	</ul>
  </div>
</div>
