<!--<div class="page-header header-filter" data-parallax="true" style=" background-image: url('assets/img/examples/profile_city.jpg'); ">-->
  <div id="gestaoQHeader" class="page-header header-filter" data-parallax="true" style=" background-image: url('_imagens/contato.jpg'); ">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h1 id="header" class="title">Contato</h1>
          </div>
        </div>
    </div>
  </div>

<div class="main main-raised">
  <div class="container">

    <div class="row">
      <div id="section-left-contato" class="section margin-left">

        <form class="contact-form">
            <div class="row">

                <div class="col-md-8">
                  <div class="form-group">
                    <label class="bmd-label-floating">Nome</label>
                    <input type="email" class="form-control">
                  </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-8">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email</label>
                    <input type="email" class="form-control">
                  </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-8">
                  <div class="form-group">
                    <label class="bmd-label-floating">Assunto</label>
                    <input type="email" class="form-control">
                  </div>
                </div>

            </div>

            <div class="form-group">
              <label for="exampleMessage" class="bmd-label-floating">Mensagem</label>
              <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
            </div>

            <div class="row">
                <div class="col-md-4 ml-auto mr-auto text-center">
                  <button class="btn btn-success btn-raised">Enviar</button>
                </div>
            </div>
        </form>

      </div>

      <div id="section-right-contato" class="section margin-right">
        <br>
        <h5 id="h5Gestao" class="description">SOROCAPS INDÚSTRIA FARMACÊUTICA LTDA.</h5>
        <h5 id="h5Gestao" class="description">Av. Victor Andrew, 1350 – Éden</h5>
        <h5 id="h5Gestao" class="description">CEP: 18086-390 – Sorocaba/SP</h5>
        <h5 id="h5Gestao" class="description">Fone: (15) 3238.1410</h5>
        <h5 id="h5Gestao" class="description">sorocaps@sorocaps.com.br</h5>
        <br>

        <iframe src="http://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Avenida+Victor+Andrew,+1350,+Sorocaba+-+S%C3%A3o+Paulo&amp;aq=0&amp;oq=Avenida+Victor+Andrew,+1350+Sorocaba+-+S%C3%A3o+Paulo&amp;sll=-23.44801,-47.440209&amp;sspn=0.015473,0.027874&amp;g=Avenida+Victor+Andrew,+Sorocaba+-+S%C3%A3o+Paulo&amp;ie=UTF8&amp;hq=&amp;hnear=Av.+Victor+Andrew,+1350+-+Jardim+Ibiti+do+Pa%C3%A7o,+Sorocaba+-+S%C3%A3o+Paulo,+18086-390&amp;t=m&amp;ll=-23.432694,-47.43742&amp;spn=0.027563,0.085831&amp;z=14&amp;iwloc=A&amp;output=embed" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="100%" height="350"></iframe>
        <br>

      </div>
    </div>

  </div>
</div>
