<!--<div id="container" class="container">
  <div class="col-md-offset-2 col-md-8">
    <div class="clearfix">
      <form id="options">
        <p class="center">
          <button id="btnOptions" type="button" class="btn btn-primary btn-lg " onclick="window.location.href='#!/topics/availableSubjects'">Available Subjects</button>
          <button id="btnOptions" type="button" class="btn btn-primary btn-lg " onclick="window.location.href='#!/topics/subjectsinvoting'">Subjects in Voting</button>
          <button id="btnOptions" type="button" class="btn btn-primary btn-lg " onclick="window.location.href='#!/topics/sujestsubject'">Sujest Subject</button>
        </p>
      </form>
    </div>
  </div>
</div>-->

<div id="options" class="container">
  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <a href="#!/topics/availableSubjects/{{vm.topic}}"><i class="fa fa-comment" aria-hidden="true"></i></a>
      <h3>Available Subjects</h3>
      <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <a href="#!/topics/subjectsinvoting/{{vm.topic}}"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
      <h3>Subjects in Voting</h3>
      <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <a href="#!/topics/sujestsubject/{{vm.topic}}"><i class="fa fa-bullhorn" aria-hidden="true"></i></a>
      <h3>Suggest Subject</h3>
      <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
    </div>
  </div>
  <!-- /.container -->
</div>
