<!--<div class="page-header header-filter" data-parallax="true" style=" background-image: url('assets/img/examples/profile_city.jpg'); ">-->
  <div id="gestaoQHeader" class="page-header header-filter" data-parallax="true" style=" background-image: url('_imagens/icone/gestao_qualidade.jpg'); ">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h1 class="title">Gestão Qualidade</h1>
          </div>
        </div>
    </div>
  </div>

<div class="main main-raised">
  <div class="container">

    <div class="row">
      <div class="section margin-left">

        <div id="left" class="info">
            <a href="#"><img id="produtosD" src="_imagens/produtos/vit_k2.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid"></a>
          <br>
        </div>
      </div>

      <div id="right" class="section margin-right">

          <div class="info">
              <h2 class="title">Produtos em Destaque</h2>
              <h5 class="description">A empresa oferece excelência em sua linha de produtos, que passam por um rigoroso controle de qualidade, obtendo a certificação da ANVISA e sempre se atualizando com as exigências de todos os demais órgãos reguladores.</h5>
            <br>
          </div>

      </div>
    </div>

  </div>
</div>
