<!--<div class="page-header header-filter" data-parallax="true" style=" background-image: url('assets/img/examples/profile_city.jpg'); ">-->
  <div id="gestaoQHeader" class="page-header header-filter" data-parallax="true" style=" background-image: url('_imagens/gestaoQualidade.jpg'); ">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h1 id="header" class="title">Gestão da Qualidade</h1>
          </div>
        </div>
    </div>
  </div>

<div class="main main-raised">
  <div class="container">

    <div class="row">
      <div id="section-left" class="section margin-left">

        <img id="gestaoQ" src="_imagens/gestaoQ/gestaoQ_1.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid">
        <br>
        <img id="gestaoQ" src="_imagens/gestaoQ/gestaoQ_2.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid">
        <br>
        <img id="gestaoQ" src="_imagens/gestaoQ/gestaoQ_3.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid">
        <br>

      </div>

      <div id="section-right" class="section margin-right">

        <h2 class="title">Inovação e Tecnologia</h2>
        <h5 id="h5Gestao" class="description">A empresa oferece excelência em sua linha de produtos, que passam por um rigoroso controle de qualidade, obtendo a certificação da ANVISA e sempre se atualizando com as exigências de todos os demais órgãos reguladores.
          Contando com uma equipe de profissionais treinados e qualificados, o processo de produção permite amplo estoque e uma logística adequada que garantem agilidade e comprometimento no prazo de entrega, até mesmo nos pedidos de larga escala.
          Além disso, a Sorocaps investe em tecnologia de ponta para que a sua estrutura seja um diferencial no atendimento a todos os portes de empresas, visando à qualidade com alta produtividade, fator indispensável para uma empresa que busca, não só atender as necessidades do mercado como também superá-las constantemente com sua prestação de serviços e produtos inovadores.</h5>
        <br>

        <h2 class="title">Garantia de Qualidade</h2>
        <h5 id="h5Gestao" class="description">A Sorocaps é uma organização empenhada na qualidade, que é ajustada para satisfazer os clientes e autoridades da saúde. Para isso, seguimos algumas medidas como:</h5>
              <h5 id="h5Gestao" class="description">• Promover a melhoria contínua do sistema de gestão da qualidade;</h5>
              <h5 id="h5Gestao" class="description">• Efetuar as produções com matéria-prima de qualidade;</h5>
              <h5 id="h5Gestao" class="description">• Zelar para que a correta gestão da qualidade atinja as finalidades propostas, promovendo o desenvolvimento da empresa como entidade econômica;</h5>
              <h5 id="h5Gestao" class="description">• Medir a satisfação dos clientes e fornecer informações transparentes;</h5>
              <h5 id="h5Gestao" class="description">A Política da Qualidade deve ser continuamente revisada para sua adequação, seus objetivos devem estar claros para que os colaboradores de todos os níveis possam compreender e cumprir com os compromissos que ela estabelece.
              Investindo em inovação e tecnologia para aprimorar os processos, a Sorocaps realiza testes de qualidade periódicos para garantir a eficiência dos processos.</h5>
        <br>

      </div>
    </div>

  </div>
</div>
