<div id='container' class="container" ng-show="!vm.isLoggedIn()">
  <h1>Você não está logado.</h1>
</div>

<div id='container' class="container">
  <div class="col-md-offset-2 col-md-8">
    <div class="clearfix">
      <!--<form id = "coments" ng-Submit="post()">-->
      <form id = "coments" ng-Submit="vm.post()">
        <div ng-if="vm.isLoggedIn()">
          <h1>{{vm.topic}}</h1>
          <!--<input required type="text" class="form-control" placeholder="Your name" ng-model="newPost.created_by" />
          <textarea required class="form-control" maxlength="200" rows="3" placeholder="Say something" ng-model="newPost.text"></textarea>-->
          <textarea id="coment" required class="form-control" maxlength="200" rows="3" placeholder="Say something" ng-model="vm.coment"></textarea>
          <input class="btn submit-btn pull-right" type="submit" value="GO!" />
            <br/><br/><br/>
          <div id="post-stream">
            <!--<h4>Chirp Feed</h4>
                <div class="post" ng-repeat="post in posts | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
                  <p>{{post.text}}</p>
                  <small>Posted by @{{post.created_by}}</small>
                  <small class="pull-right">{{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
                </div>-->
                <div class="post" ng-repeat="debate in vm.debates | orderBy:'createdOn':true" ng-class-odd="'odd'" ng-class-even="'even'">
                  <p>{{debate.coment}}
                    <!--<input id = "btnDeleteComent" class="btn btn-danger btn-sm | pull-right" ng-click="vm.delete(debate._id)" value="X" data-target="#myModal"/>-->
                    <!--<input ng-show="vm.adm == 'SIM'" id = "btnDeleteComent" class="btn btn-danger btn-sm | pull-right" value="X" data-toggle="modal" data-target="#myModal" readonly="true"/>-->
                    <input ng-show="vm.adm == 'SIM'" id = "btnDeleteComent" class="btn btn-danger btn-sm | pull-right" ng-click="vm.delete(debate._id)" value="X" readonly="true"/>
                    <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Confirmação</h4>
                          </div>
                          <div class="modal-body">
                            <p>Tem certeza que deseja deletar o comentario?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.delete(debate._id)">Deletar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </p>
                  <small>Posted by @{{debate.user}}</small>
                  <small class="pull-right">{{debate.createdOn | date:"h:mma 'on' MMM d, y"}}</small>
                </div>
          </div>
        </div>

        <div ng-if="!vm.isLoggedIn()">
          <h1>Você não está logado.</h1>
        </div>
      </form>
    </div>
  </div>
</div>
