<!--<div class="page-header header-filter" data-parallax="true" style=" background-image: url('assets/img/examples/profile_city.jpg'); ">-->
  <div id="gestaoQHeader" class="page-header header-filter" data-parallax="true" style=" background-image: url('_imagens/quemSomos.jpg'); ">
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h1 id="header" class="title">Quem Somos</h1>
          </div>
        </div>
    </div>
  </div>

<div class="main main-raised">
  <div class="container">

    <div class="row">
      <div id="section-left" class="section margin-left">

        <img id="quemS" src="_imagens/quemS/quemS_1.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid">
        <br>
        <img id="quemS" src="_imagens/quemS/quemS_2.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid">
        <br>
        <img id="quemS" src="_imagens/quemS/quemS_3.jpg" alt="Thumbnail Image" class="img-raised w3-border w3-padding img-fluid">
        <br>

      </div>

      <div id="section-right" class="section margin-right">
        <br>
        <h5 id="h5Gestao" class="description">A Sorocaps Indústria Farmacêutica Ltda. é uma empresa 100% nacional que fabrica, comercializa e desenvolve cápsulas gelatinosas de complemento alimentar, possuindo um mix de produtos diversificado, atuando também na prestação de serviços de envase para terceiros.
          Para atender ao mercado nacional de indústrias, laboratórios e distribuidores, a Sorocaps possui estoque suficiente para trabalhar com uma grande demanda de clientes, além de estabelecer parcerias com os principais fornecedores de matéria-prima, garantindo qualidade e diferenciais no preço e no prazo de entrega dos seus pedidos.
          Localizada na Zona Industrial da cidade de Sorocaba-SP, a aproximadamente 90 km de São Paulo favorecendo assim sua logística, a fábrica possui um espaço de 10.000 m² e uma planta industrial de 4.000 m² de área construída com laboratório próprio, linha de produção e escritório comercial. As atividades da empresa contribuem para a saúde e a qualidade de vida das pessoas, gerando empregos, movimentando a economia e seguindo uma filosofia de crescimento sustentável.</h5>

        <h2 class="title">Visão</h2>
        <h5 id="h5Gestao" class="description">Buscar melhoria contínua nos processos, na qualidade dos serviços e no relacionamento com o mercado.</h5>

        <h2 class="title">Missão</h2>
        <h5 id="h5Gestao" class="description">Prover soluções cada vez mais completas e integradas para a gestão da qualidade da saúde e o bem estar  das pessoas com excelência, humanidade e sustentabilidade.</h5>

        <h2 class="title">Valores</h2>
        <h5 id="h5Gestao" class="description">• Ética;</h5>
        <h5 id="h5Gestao" class="description">• Qualidade;</h5>
        <h5 id="h5Gestao" class="description">• Excelência;</h5>
        <h5 id="h5Gestao" class="description">• Confiabilidade;</h5>
        <h5 id="h5Gestao" class="description">• Responsabilidade;</h5>
        <h5 id="h5Gestao" class="description">• Respeito;</h5>
        <h5 id="h5Gestao" class="description">• Integridade;</h5>
        <h5 id="h5Gestao" class="description">• Trabalho em equipe;</h5>

        <h2 class="title">Responsabilidade Ambiental</h2>
        <h5 id="h5Gestao" class="description">O crescimento sustentável e a consciência ecológica fazem parte da filosofia da Sorocaps. Aqui toda a água utilizada para as mais diversas finalidades provém de aquecimento através da energia solar, diminuindo assim o impacto ambiental. Acreditamos que cada atitude é importante para a preservação do futuro do planeta..</h5>

      </div>
    </div>

  </div>
</div>
